*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navparent {
  min-width: 430px;
  height: 137px;
  flex-shrink: 0;
  background-color: red;
  padding-left: 174px;
}
.navparent .navbar {
  display: flex;
  padding: 30px 120px;
}
.navparent .navbar .collapse {
  gap: 34px;
  margin-left: 84px;
}
.navparent .navbar .collapse .orders {
  margin-left: 86px;
}
.navparent .navbar .collapse .orderbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 58px;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  border-radius: 8px;
  background: #03071e;
}
.navparent .navbar .collapse .orderbtn p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  margin: auto;
}
.navparent .navbar .collapse ul {
  display: flex;
  gap: 27px;
  padding: 0;
}
.navparent .navbar .collapse ul li {
  flex-shrink: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
.navparent .navbar .navbar-brand {
  display: flex;
  width: 148px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.navparent .navbar .nav-link {
  color: #fff;
}

.line {
  min-width: 430px;
  height: 6px;
  background-color: #faa307;
}

.mainimg {
  display: flex;
  width: 100vw;
  height: 598px;
}
.mainimg .saleoffer {
  width: 389px;
  height: 593px;
  margin: 50px auto;
}
.mainimg .saleoffer .offer {
  display: flex;
}
.mainimg .saleoffer .offer p {
  position: relative;
  right: 180px;
  top: 55px;
  width: 144px;
  height: 98px;
  transform: rotate(25.772deg);
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.mainimg .saleoffer .noproblem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 87px;
  gap: 7px;
  margin-top: 128px;
  flex-wrap: wrap;
  border-radius: 15px;
  background: #e93037;
}
.mainimg .saleoffer .noproblem p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 79px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainimg .mainpizza {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.mainimg .mainpizza .mainpizza1 {
  width: 100%;
  height: 598px;
  border-radius: 0 0 20% 20%;
}

.pizzainfo {
  display: flex;
  margin: auto;
  width: 830px;
  height: 593px;
  align-items: center;
  align-content: center;
  gap: 26px;
  flex-wrap: wrap;
  z-index: 1;
}
.pizzainfo .pizzalife {
  width: 483px;
  height: 34px;
  padding: 7px 21px;
  align-content: center;
  gap: 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 40px;
  border: 1px dashed #fff;
  background: rgba(233, 48, 55, 0.37);
}
.pizzainfo .pizzalife p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.16px;
}
.pizzainfo .supreme {
  width: 586px;
  height: 259px;
}
.pizzainfo .supreme p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 12.96px;
}
.pizzainfo .supremeinfo {
  width: 541px;
  height: 48px;
}
.pizzainfo .supremeinfo p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buynow {
  width: 480px;
  padding-top: 0px;
  padding-left: 10px;
}
.buynow .buy {
  width: 185px;
  height: 61px;
  border-radius: 8px;
  background: #03071e;
  z-index: 10;
  border: none;
}
.buynow .buy p {
  color: #fff;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.buynow .allpizza {
  width: 185px;
  height: 61px;
  border-radius: 8px;
  background: rgba(3, 7, 30, 0.0470588235);
  border: 1px solid #03071e;
}
.buynow .allpizza p {
  color: #fff;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.orderonline {
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 69px;
  flex-wrap: wrap;
}
.orderonline .where-pizza {
  width: 716px;
  height: auto;
  margin: 50px auto;
}
.orderonline .where-pizza h1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.orderonline .where-pizza p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.orderonline .orderonline-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 69px;
  gap: 67px;
  flex-wrap: wrap;
}
.orderonline .orderonline-body .order-1 .menu-1 .menu-bg .menu-img1 {
  margin-left: 20px;
  width: 250px;
  height: 270px;
}
.orderonline .orderonline-body .order-2 .menu-2 .menu-bg .menu-img2 {
  margin-left: 30px;
  width: 230px;
  height: 240px;
}
.orderonline .orderonline-body .order-3 .menu-3 .menu-bg .menu-img3 {
  margin-right: 50px;
  width: 230px;
  height: 250px;
}
.orderonline .orderonline-body .order-1 h1,
.orderonline .orderonline-body .order-2 h1,
.orderonline .orderonline-body .order-3 h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.orderonline .orderonline-body .order-1 .menu-bg,
.orderonline .orderonline-body .order-2 .menu-bg,
.orderonline .orderonline-body .order-3 .menu-bg {
  width: 287px;
  height: 287px;
  border-radius: 287px;
  background: #faa307;
}
.orderonline .order-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px auto;
  gap: 20px;
}
.orderonline .order-btns .order-online {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 68px;
  gap: 10px;
  border: none;
  background: #faa307;
}
.orderonline .order-btns .order-online p {
  margin: 39px auto;
  color: #03071e;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}
.orderonline .order-btns .book-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 68px;
  gap: 10px;
  border: none;
  background: #03071e;
}
.orderonline .order-btns .book-table p {
  margin: 39px auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.about-page {
  margin-top: 130px;
  width: 100vw;
  height: 960px;
  overflow: hidden;
}
.about-page .about-us {
  display: flex;
  width: 120vw;
  height: 812px;
  margin-left: -50px;
  transform: rotate(-4.308deg);
  background-color: #e93037;
  border: 1px solid #000;
  box-shadow: 0px -10px 20px 20px rgba(0, 0, 0, 0.25) inset, 0px 10px 20px 20px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  margin-top: 70px;
}
.about-page .about-us .peppers {
  position: relative;
  bottom: 1100px;
  right: 450px;
  width: 114px;
  margin-left: 100px;
}

.about-img {
  display: flex;
}
.about-img .chef {
  margin: -35px;
  transform: rotate(5.308deg);
}
@media screen and (max-width: 1280px) {
  .about-img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .about-img .chef {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 950px) {
  .about-img {
    display: none;
  }
}

.about-info {
  width: 561px;
  height: 750.12px;
  margin: 100px;
  transform: rotate(5.308deg);
}
@media screen and (max-width: 950px) {
  .about-info {
    margin: 100px auto;
  }
}
.about-info .about-text h1 {
  color: #fff;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-info .about-text p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 950px) {
  .about-info .about-text h1 {
    font-size: 60px;
  }
  .about-info .about-text p {
    font-size: 20px;
  }
}
.about-info .contacts {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-info .contacts .mail {
  display: flex;
}
.about-info .contacts .mail p {
  margin: 5px;
}
.about-info .contacts .phone {
  display: flex;
  margin-top: 10px;
}
.about-info .contacts .phone p {
  margin: 5px;
}
.about-info .contacts .location {
  display: flex;
  margin-top: 10px;
}
.about-info .contacts .location p {
  margin: 5px;
}
.about-info .contacts .logo-bg {
  width: 38px;
  height: 38px;
  border-radius: 287px;
  background: #faa307;
}
.about-info .contacts .contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.about-btns {
  margin-top: 20px;
}
.about-btns .about-btn1 {
  width: 144px;
  height: 61px;
  background: #faa307;
  border: none;
}
.about-btns .about-btn1 p {
  margin: auto;
  color: #03071e;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.about-btns .about-btn2 {
  width: 144px;
  height: 61px;
  background: #03071e;
  border: none;
}
.about-btns .about-btn2 p {
  color: #fff;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.foods {
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 69px;
  flex-wrap: wrap;
}
.foods .food-bg1 h1,
.foods .food-bg1 p,
.foods .food-bg2 h1,
.foods .food-bg2 p,
.foods .food-bg3 h1,
.foods .food-bg3 p,
.foods .food-bg4 h1,
.foods .food-bg4 p,
.foods .food-bg5 h1,
.foods .food-bg5 p,
.foods .food-bg6 h1,
.foods .food-bg6 p {
  margin-left: 10px;
}
.foods .foods-txt {
  width: 630px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.foods .foods-txt h1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.foods .foods-txt p {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.foods .fire,
.foods .salt,
.foods .candy {
  width: 45px;
  height: 45px;
  margin-left: 230px;
}
.foods .cheese {
  width: 45px;
  height: 45px;
  margin-left: 230px;
}
.foods .onion {
  width: 45px;
  height: 45px;
  margin-left: 230px;
}
.foods .foods-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 69px;
  gap: 21px;
  flex-wrap: wrap;
}
.foods .foods-body .foods-1 .food-bg1,
.foods .foods-body .foods-1 .food-bg2 {
  width: 305px;
  height: 469px;
  margin-top: 20px;
  background: #faa307;
}
.foods .foods-body .foods-1 .food-bg1 h1,
.foods .foods-body .foods-1 .food-bg2 h1 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.foods .foods-body .foods-1 .food-bg1 p,
.foods .foods-body .foods-1 .food-bg2 p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.foods .foods-body .foods-1 .food-bg1 .food-img1 {
  margin-left: 50px;
  width: 220px;
  height: 230px;
}
.foods .foods-body .foods-1 .food-bg1 .food-img4 {
  width: 200px;
  height: 190px;
}
.foods .foods-body .foods-2 .food-bg3,
.foods .foods-body .foods-2 .food-bg4 {
  width: 305px;
  height: 469px;
  margin-top: 20px;
  background: #faa307;
}
.foods .foods-body .foods-2 .food-bg3 h1,
.foods .foods-body .foods-2 .food-bg4 h1 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.foods .foods-body .foods-2 .food-bg3 p,
.foods .foods-body .foods-2 .food-bg4 p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.foods .foods-body .foods-2 .food-img2 {
  margin-left: 30px;
  width: 240px;
  height: 230px;
}
.foods .foods-body .foods-2 .food-img5 {
  margin-left: 30px;
  width: 250px;
  height: 310px;
}
.foods .foods-body .foods-3 .food-bg6 .food-description p {
  margin-top: 90px;
  margin-left: 10px;
}
.foods .foods-body .foods-3 .food-bg5,
.foods .foods-body .foods-3 .food-bg6 {
  width: 305px;
  height: 469px;
  margin-top: 20px;
  background: #faa307;
}
.foods .foods-body .foods-3 .food-bg5 h1,
.foods .foods-body .foods-3 .food-bg6 h1 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.foods .foods-body .foods-3 .food-bg5 p,
.foods .foods-body .foods-3 .food-bg6 p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.foods .foods-body .foods-3 .food-img3 {
  margin-left: 40px;
  width: 230px;
  height: 280px;
}
.foods .foods-body .foods-3 .food-img6 {
  margin-top: 50px;
  margin-left: 25px;
  width: 250px;
  height: 180px;
}

.delivery {
  margin-top: 130px;
  width: 100vw;
  height: 960px;
  overflow: hidden;
}
.delivery .delivery-page {
  display: flex;
  width: 120vw;
  height: 750.12px;
  margin-left: -50px;
  transform: rotate(-4.308deg);
  background-color: #e93037;
  border: 1px solid #000;
  box-shadow: 0px -10px 20px 20px rgba(0, 0, 0, 0.25) inset, 0px 10px 20px 20px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  margin-top: 70px;
}
.delivery .delivery-page .peppers {
  width: 314px;
  position: relative;
  bottom: 1100px;
  right: 450px;
  width: 114px;
  margin-left: 100px;
}
.delivery .delivery-page .delivery-img {
  display: flex;
}
.delivery .delivery-page .delivery-img .chef {
  margin: -35px;
  transform: rotate(5.308deg);
}
@media screen and (max-width: 1280px) {
  .delivery .delivery-page .delivery-img {
    width: 45%;
    height: auto;
    margin: -50px;
  }
  .delivery .delivery-page .delivery-img .peppers {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .delivery .delivery-page .delivery-img {
    display: none;
  }
}
.delivery .delivery-page .delivery-info {
  width: 561px;
  height: 750.12px;
  margin: 100px;
  transform: rotate(5.308deg);
}
@media screen and (max-width: 950px) {
  .delivery .delivery-page .delivery-info {
    margin: 100px auto;
  }
}
.delivery .delivery-page .delivery-info .delivery-text h1 {
  color: #fff;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.delivery .delivery-page .delivery-info .delivery-text p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 950px) {
  .delivery .delivery-page .delivery-info .delivery-text h1 {
    font-size: 60px;
  }
  .delivery .delivery-page .delivery-info .delivery-text p {
    font-size: 20px;
  }
}
.delivery .delivery-page .delivery-btn {
  margin-top: 20px;
}
.delivery .delivery-page .delivery-btn .delivery-btn1 {
  width: 247px;
  height: 68px;
  background: #faa307;
  border: none;
}
.delivery .delivery-page .delivery-btn .delivery-btn1 p {
  margin: auto;
  color: #03071e;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.review {
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 69px;
  flex-wrap: wrap;
}
.review .stars {
  width: 385px;
  background-color: #faa307;
}
.review .stars1 {
  margin-top: 16px;
  width: 385px;
  background-color: #faa307;
}
.review .review-head {
  display: flex;
  margin: auto;
  width: 701px;
  height: 205px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.review .review-head h1 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review .heart-img {
  margin: auto;
}
.review .review-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 69px;
  gap: 21px;
  flex-wrap: wrap;
}
.review .review-body .review-1 .review1-text {
  display: flex;
  width: 385px;
  padding: 16px 11px;
  gap: 8px;
  background: #faa307;
}
.review .review-body .review-1 .review1-text p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.523%;
}
.review .review-body .review-1 .review1-img {
  margin-top: 41px;
  width: 385px;
  height: 603px;
  flex-shrink: 0;
}
.review .review-body .review-2 .review2-text {
  display: flex;
  width: 385px;
  height: 358px;
  padding: 16px 11px;
  gap: 8px;
  background: #faa307;
}
.review .review-body .review-2 .review2-text p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.523%;
}
.review .review-body .review-2 .review2-img {
  width: 385px;
  height: 546px;
}
.review .review-body .review-3 .review3-text {
  display: flex;
  width: 385px;
  padding: 16px 11px;
  gap: 8px;
  background: #faa307;
}
.review .review-body .review-3 .review3-text p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.523%;
}
.review .review-body .review-3 .review3-img {
  margin-top: 41px;
  width: 385px;
  height: 603px;
  flex-shrink: 0;
}

.apps {
  display: flex;
  margin-top: 69px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 144px;
  flex-wrap: wrap;
}

.footer {
  margin-top: 130px;
  width: 100vw;
  height: 600px;
  overflow: hidden;
}
.footer .footer-page {
  display: flex;
  width: 120vw;
  height: 1750.12px;
  margin-left: -50px;
  transform: rotate(-4.308deg);
  background-color: #e93037;
  border: 1px solid #000;
  box-shadow: 0px -10px 20px 20px rgba(0, 0, 0, 0.25) inset, 0px 10px 20px 20px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  margin-top: 70px;
}
.footer .footer-page .footer-info {
  display: flex;
  margin: 150px auto;
  height: 305px;
  transform: rotate(4.308deg);
  flex-shrink: 0;
  gap: 163px;
}
.footer .footer-page .footer-info h1 {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.footer .footer-page .footer-info .web-logos {
  width: 148px;
  height: 74px;
}
.footer .footer-page .footer-info .our-contacts p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.footer .footer-page .footer-info .our-contacts .footer-line {
  min-width: 230px;
  height: 6px;
  background-color: #faa307;
}
.footer .footer-page .footer-info .opening-hours .footer-line {
  min-width: 230px;
  height: 6px;
  background-color: #faa307;
}
.footer .footer-page .footer-info .opening-hours .days {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.footer .footer-page .footer-info .opening-hours .hours {
  color: #faa307;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.footer .footer-page .footer-info .newsletter .footer-line {
  min-width: 230px;
  height: 6px;
  background-color: #faa307;
}
.footer .footer-page .footer-info .newsletter .footer-btn {
  width: 81px;
  height: 41px;
  background-color: #faa307;
  border: none;
}

@media screen and (max-width: 1490px) {
  .navparent {
    padding-left: 74px;
  }
  .footer .footer-page .footer-info {
    margin: 150px auto;
    gap: 103px;
  }
  .footer .footer-page .footer-info .web-logos {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1400px) {
  .navparent {
    padding-left: 0px;
  }
  .footer .footer-page .footer-info .newsletter {
    position: absolute;
    margin: 250px 300px;
  }
}
@media screen and (max-width: 1300px) {
  .navparent {
    width: 1300px;
  }
  .navparent .navbar {
    padding: 30px 0px;
  }
}
.mainimg .pizzainfo {
  margin: 60px auto;
  height: 393px;
}
.mainimg .pizzainfo .supreme {
  height: 209px;
}
.mainimg .pizzainfo .supreme p {
  font-size: 76px;
}

@media screen and (max-width: 1280px) {
  .navparent .navbar .collapse {
    gap: 20px;
    margin-left: 20px;
  }
  .navparent .navbar .collapse .orders {
    margin-left: 0px;
  }
  .about-us {
    height: 812px;
  }
  .about-us .about-img {
    width: 692px;
    height: 793px;
    margin: -65px;
  }
  .about-us .about-img .chef {
    width: 592px;
    height: 793px;
  }
  .about-us .peppers {
    display: none;
  }
  .delivery .delivery-page .peppers {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .delivery .delivery-page {
    margin-left: -150px;
  }
  .delivery .delivery-page .delivery-info {
    margin: 150px 200px;
  }
}
@media screen and (max-width: 1050px) {
  .delivery .delivery-page .delivery-img {
    display: none;
  }
  .delivery .delivery-page .delivery-info {
    margin: 150px 450px;
  }
}
@media screen and (max-width: 1024px) {
  .navparent .navbar .collapse {
    gap: 10px;
    margin-left: 0px;
  }
  .navparent .navbar .collapse ul {
    gap: 17px;
  }
  .navparent .navbar .collapse .orderbtn {
    width: 177px;
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .mainimg .mainpizza {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  .mainimg .mainpizza .mainpizza1 {
    position: absolute;
    width: 150%;
    height: 598px;
    border-radius: 0;
  }
  .footer {
    height: 950px;
  }
  .footer .footer-page .footer-info {
    height: 800px;
  }
  .footer .footer-page .footer-info .web-logos .web-main-logo {
    position: absolute;
    margin: -60px 40px;
  }
  .footer .footer-page .footer-info .web-logos .web-list {
    position: relative;
    margin: 550px auto;
  }
  .footer .footer-page .footer-info .our-contacts {
    position: absolute;
    margin: 100px auto;
  }
  .footer .footer-page .footer-info .opening-hours {
    position: absolute;
    margin: 300px auto;
  }
  .footer .footer-page .footer-info .newsletter {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .delivery .delivery-page {
    margin-left: -30px;
  }
  .delivery .delivery-page .delivery-img {
    display: none;
  }
  .delivery .delivery-page .delivery-info {
    margin: 150px auto;
  }
}
@media screen and (max-width: 800px) {
  .mainimg .pizzainfo {
    width: 500px;
  }
  .mainimg .pizzainfo .supreme {
    height: 209px;
  }
  .mainimg .pizzainfo .supreme p {
    font-size: 76px;
  }
}
@media screen and (max-width: 700px) {
  .saleoffer {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .orderonline .where-pizza {
    width: 90vw;
    margin: 50px auto;
  }
  .orderonline .where-pizza h1 {
    font-size: 38px;
  }
  .orderonline .where-pizza p {
    font-size: 14px;
  }
  .review .review-head {
    width: 100vw;
  }
  .review .review-head h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .foods .foods-txt {
    width: 100vw;
  }
  .foods .foods-txt h1 {
    font-size: 38px;
  }
  .foods .foods-txt p {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .mainimg .mainpizza {
    position: absolute;
    width: 100%;
    height: auto;
  }
  .mainimg .mainpizza .mainpizza1 {
    position: absolute;
    width: 220%;
    height: 598px;
    border-radius: 0;
  }
  .delivery .delivery-page .delivery-info .delivery-p {
    width: 450px;
  }
  .footer .footer-page {
    margin-left: -20px;
  }
  .about-us .about-info {
    margin: 200px auto;
  }
  .about-us .about-info .about-text {
    width: 90vw;
  }
  .about-us .about-info .about-text h1 {
    font-size: 50px;
  }
  .about-us .about-info .about-text p {
    font-size: 15px;
  }
  .about-us .about-info .contacts {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .about-us .about-info {
    margin-left: 55px;
  }
  .about-us .about-info .about-text {
    width: 90vw;
  }
  .about-us .about-info .about-text h1 {
    font-size: 45px;
  }
  .about-us .about-info .about-text p {
    font-size: 15px;
  }
  .about-us .about-info .contacts {
    margin-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  .mainimg .pizzainfo {
    width: 90vw;
    margin: 60px auto;
  }
  .mainimg .pizzainfo .pizzalife {
    width: 90vw;
    height: 54px;
    border-radius: 40px;
  }
  .mainimg .pizzainfo .pizzalife p {
    font-size: 15px;
  }
  .mainimg .pizzainfo .supreme {
    height: 160px;
  }
  .mainimg .pizzainfo .supreme p {
    font-size: 66px;
  }
  .delivery .delivery-page .delivery-info {
    margin-left: 40px;
  }
  .delivery .delivery-page .delivery-info .delivery-text h1 {
    width: 90vw;
    font-size: 38px;
    height: 150px;
  }
  .delivery .delivery-page .delivery-info .delivery-text p {
    width: 90vw;
    height: 150px;
    font-size: 15px;
  }
  .delivery .delivery-page .delivery-info .delivery-p {
    width: 450px;
  }
}
@media screen and (max-width: 427px) {
  .buynow .allpizza {
    margin-top: 5px;
  }
}
@media screen and (max-width: 425px) {
  .footer .footer-page {
    margin-left: -10px;
  }
  .mainimg .pizzainfo {
    width: 90vw;
    margin: 60px auto;
  }
  .mainimg .pizzainfo .pizzalife {
    width: 90vw;
    height: 54px;
    border-radius: 40px;
  }
  .mainimg .pizzainfo .pizzalife p {
    font-size: 15px;
  }
  .mainimg .pizzainfo .supreme {
    height: 130px;
  }
  .mainimg .pizzainfo .supreme p {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .mainimg .mainpizza {
    width: 100%;
    height: auto;
  }
  .mainimg .mainpizza .mainpizza1 {
    position: relative;
    right: 200px;
    width: 320%;
    height: 598px;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
